/* my styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* navbar */

nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 15px;
  background-color: bisque;
}

nav h1 {
  padding: 15px;
}

.nav-links {
  display: flex;
  padding: 15px;
  list-style: none;
}
.nav-link {
  padding: 2%;
  margin: 0 15px;
}


.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100vw;
}

.main > * {
  margin: 15px;
}


.gm-style-iw-chr {
  border: none;
  color: black;
}

.poi-info-window {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 5px;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poi-info-window * {
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(5, 4, 53);
  border-radius: 25px;
  color: white;
}

.form-title {
  padding: 25px;
  font-size: 1.4rem;
}

form button {
  margin-top: 15px;
  padding: 4%;
  width: 150px;
  background-color: rgb(21, 21, 22);
  border: 0.7px solid rgb(21, 21, 22);
  color: white;
  border-radius: 8px;
}

form button:hover {
  cursor: pointer;
  border: 0.7px solid rgb(4, 83, 133);
}

form input {
  padding: 12px;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  color: black;
}

.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 110%;
}

.map {
  display: flex;
  width: 500px;
  height: 500px;
}